{% extends "_layouts/elementindex" %}

{% set title = "Tours"|t('boarding') %}
{% set elementType = 'zeix\\boarding\\models\\Tour' %}

{% requirePermission 'accessPlugin-boarding' %}

{% block actionButton %}
	{% if currentUser.can('boarding:createtours') %}
		{% set isProEdition = craft.app.plugins.getPlugin('boarding').is('pro') %}
		{% set tourCount = craft.app.elements.createElement('zeix\\boarding\\models\\Tour').find().count() %}
		{% set canCreate = isProEdition or tourCount < 3 %}

		{% if canCreate %}
			<a href="{{ url('boarding/tours/new') }}" class="btn submit add icon">{{ "New Tour"|t('boarding') }}</a>
		{% else %}
			<button class="btn submit add icon disabled" disabled title="{{ 'You have reached the maximum of {limit} tours allowed in Boarding Lite. Upgrade to Boarding Pro for unlimited tours.'|t('boarding', { limit: 3 }) }}">
				{{ "New Tour"|t('boarding') }}
			</button>
		{% endif %}
	{% endif %}
{% endblock %}
